.bg-image{
  background-image: url('../../../assets/images/login-bg.jpg');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
h1{
  color: #454C66;
  margin-bottom: 10px;
  font-weight: 600;

}
.subtitle{
  color:#747A88;
  font-size: 16px;
  max-width: 400px;
  margin: 20px 0;
}
    form {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 8px;
      width: 75%;
      margin: auto;
      @media screen and (max-width: 992px) {
        width: 100%;

      }
   span{
     color: #3482F4;
   }

      button[type="submit"] {
        padding: 15px;
        background-color: #635CA8;
        color: #fff;
        border: none;
        font-size: 16px;

        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 4px;
        width: fit-content;
        &:hover {
          background-color: #0052a3;
        }
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
        img{
          margin-left: 20px;
        }
      }
      .flex-container{
        mat-checkbox{
          flex: 1;
        }
        .button-container{
          flex: 1;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    ::ng-deep{
      ngx-intl-tel-input{
        .search-container {
          input {
            &#country-search-box {
              padding: 0.5em;
              border-bottom: #555186 1px solid;
            }

          }
        }
        input[type=tel]{
          display: flex;
          width: 100% ;

        }
        .iti{
          width: 100% !important;
        }
      }
    }

