
<app-section-container [banner]="'../../../assets/images/login-bg.jpg'">

  <form [formGroup]="loginForm">
    <div class="row">
      <div class="col-md-8">
        <h1 >Start your business now</h1>
        <p class="subtitle">Creating your company is just a few steps away, Enter your email address to continue.</p>
      </div>
      <div class="col-12">

        <div class="flex-container">
          <div class="input-block">

            <label>First Name</label>
            <input type="text" name="firstname" placeholder="Enter your first name" formControlName="firstName">
          </div>
          <div class="input-block">

            <label>Last Name</label>
            <input type="text" name="lastname" placeholder="Enter your last name" formControlName="lastName">
          </div>
        </div>
        <div class="flex-container">
          <div class="input-block">

            <label>Email Address</label>
            <input type="email" name="username" placeholder="Enter your email" formControlName="email">
          </div>

          <div class="input-block">

            <label>Phone Number</label>
          <ngx-intl-tel-input
            [customPlaceholder]="'enter you phone number'"
            [preferredCountries]="[CountryISO.Egypt]"
            [enableAutoCountrySelect]="false"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [selectFirstCountry]="true"
            [maxLength]="15"
            [phoneValidation]="true"
            formControlName="phone"
            class=" phonenumber small"
          ></ngx-intl-tel-input>
          </div>
        </div>
        <div class="flex-container">
          <div class="input-block">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your Password" formControlName="password">
          </div>
          <div class="input-block"></div>
        </div>
        <div class="flex-container">
          <mat-checkbox formControlName="agreement" style="max-width: 400px">Agree to the <span>Privacy Policy  </span> and <span>Terms & Conditions</span> </mat-checkbox>
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit" (click)="login()" [disabled]="loginForm.invalid">Next
              <img  src="assets/icons/arrow-right-solid.svg" alt="">
            </button>
          </div>
        </div>
      </div>

    </div>



  </form>
</app-section-container>
