.input-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  label {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    ::placeholder {
      font-size: 14px!important;
    }
  }

  input:focus {
    outline: none;
    border-color: #0066cc;
  }
}
